@font-face {
    font-family: logo;
    src: url(/assets/fonts/Metropolitan.ttf);
  }

@font-face {
    font-family: info;
    src: url(/assets/fonts/Blacklisted.ttf)
}

@font-face {
    font-family: history;
    src: url(/assets/fonts/THEBOLDFONT-FREEVERSION.otf)
}

.main-content-wrapper {
    max-width: 1200px;  /* Максимальная ширина контента */
    margin: 0 auto;     /* Магия центрирования */
    padding: 20px;      /* Внутренние отступы */
    background-color: white;
    color: #333;
}


.logo {
    display: block;     /* Чтобы margin: auto сработал */
    width: 90%;         /* 90% от родителя (.main-content-wrapper) */
    max-width: 600px;   /* НО! Не шире 600px на больших экранах */
    height: auto;       /* Сохраняем пропорции */
    margin: 50px auto;  /* Отступы и центрирование */
}


.page {
    font-family: info;
    font-size: 30px;
    text-align: center;
    font-style: oblique;
}

a.one:link, a.one:visited {
    color: white;
    /* Плавное изменение свойств в течение 0.3 секунды */
    transition: background-color 0.3s ease, color 0.3s ease;
}

a.one:hover {
    background-color: #ff4500;
    color: white;
}

.personnel.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    backface-visibility: hidden;
    transition: opacity .5s ease;
}

.container:hover .image {
    opacity: 0.1; /* Изменение будет плавным */
}


.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 0;
    background-color: black;
}

.titles {
    font-family: logo;
    font-size: 6vw; /* Размер шрифта зависит от ширины экрана */
    max-block-size: 72px; /* Ограничиваем максимальный размер */
    margin-top: 60px;
    margin-bottom: 40px;
}

.div_personnel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px; /* Расстояние между flex-элементами */
}

.text {
    font-family: history;
    max-width: 800px;  /* Ограничиваем ширину текста */
    margin: 40px auto; /* Центрируем блок */
    line-height: 1.6;  /* Увеличиваем межстрочный интервал */
}

.button {
    background-color: Black;
    font-family: info;
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.personnel {
    max-height: 363px;
    max-width: fit-content;
    border-radius: 10px;
    border-color: black;
}

.div_personnel {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;    
}



.text_info {
    color: black;
    font-size: 30px;
    text-align: left;
}


/*.container {
    position: relative;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }/*
  